root = true

[*.{kt,kts}]
charset=utf-8
insert_final_newline=true
max_line_length = 200
ij_kotlin_code_style_defaults = kotlin_official
ij_kotlin_allow_trailing_comma = true
ij_kotlin_allow_trailing_comma_on_call_site = true
ij_kotlin_name_count_to_use_star_import = 999
